<:Title>
  Home

<:Body>

  <input class="form-control" type="text" placeholder="Please enter a sentence to translate" autofocus value='{{ _sentence }}' />

  <br>

  <div class="panel panel-default">
    <div class="panel-body">
      {{ _sentence.downcase.split }}
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-body">
      <h1>
      {{ _sentence.downcase.split.each do |entry| }}
        {{ if words.where(entry: entry).first.then(&:present?) }}
          {{ store.words.where(entry: entry ).each do |word| }}
            {{ word.ipa}}
          {{ end }}
        {{ else }}
          [none]
        {{ end }}
      {{ end }}
      </h1>
    </div>
  </div>
   <button type="button" class="btn btn-primary pull-right" e-click="search_words">Search</button>
